
<div fxLayoutAlign="center">
    <mat-card fxFlex=25>
    <mat-card-header>
    
        <mat-card-title> {{obj.name}}</mat-card-title>
    </mat-card-header>
        <mat-card-content>
            <p>
                Genres:{{obj.genres}}
            </p>
            <p>
                Duration:{{obj.duration}}
            </p>
            <p>
                Cast: {{obj.cast}}
            </p>
            

        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button routerLink="/transcation" routeLinkActive="active">pay</button> -->
        </mat-card-actions>
        <mat-form-field style="width: 2rem;">
        <mat-label>qty</mat-label>
        <input matInput>
        </mat-form-field>
        <mat-form-field style="width: 10rem;">
            <mat-label>Card Expire Date</mat-label>
            <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
        
          </mat-form-field>
        <button mat-button  routerLink="/transaction" routeLinkActive="active">pay</button> 
    </mat-card>
    
</div>



